<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%- title %></title>
  </head>
  <body>
    <div id="content" component="<%- component %>"/>
    <script src="bundle.js"></script>
  </body>
</html>